(
    image: Image(
        height: 720,
        samples_per_pixel: 50,
        max_depth: 50,
    ),
    camera: ThinLens(
        origin: (-2.25, 0.5, 1.2),
        look_at: (2, 0, 0),
        up_vector: (0, 1, 0),
        aspect_ratio: (16, 9),
        vertical_fov: 45,
        aperture: 0.01
    ),
    world: World(
        background_color: Rgb(0.3, 0.3, 0.3),
        materials: {
            "ground": Lambertian (
                albedo: Rgb(0.5, 0.5, 0.9),
            ),
            "mirror": Metal (
                albedo: Rgb(0.8, 0.8, 0.8),
                fuzziness: 0.005,
            ),
            "mirror_back": Lambertian(
                albedo: Rgb(0.6, 0.6, 0.6),
            ),
            "light": Emissive (
                color: White,
                intensity: 3,
            )
        },
        objects: [
            Sphere(
                center: (0.0, -1000.0, 0.0),
                radius: 999.0,
                material: "ground",
            ),
            Quad(
                vertex: (2, -1, -1),
                edges: (
                    (0, 2, 0),
                    (0, 0, 2)
                ),
                material: "mirror"
            ),
            Quad(
                vertex: (2.1, -1, -1),
                edges: (
                    (0, 2, 0),
                    (0, 0, 2)
                ),
                material: "mirror_back"
            ),
            Quad(
                vertex: (-2, -1, -1),
                edges: (
                    (0, 2, 0),
                    (0, 0, 2)
                ),
                material: "mirror"
            ),
            Quad(
                vertex: (-2.05, -1, -1),
                edges: (
                    (0, 2, 0),
                    (0, 0, 2)
                ),
                material: "mirror_back"
            ),
            Sphere(
                center: (0, 0, 0),
                radius: 0.25,
                material: "light",
            )
        ]
    )
)
