(
    image: Image(
        height: 1080,
        samples_per_pixel: 1000,
        max_depth: 50,
    ),
    camera: ThinLens(
        origin: (0, 20, 0),
        look_at: (0, 1, 0),
        up_vector: (0, 0, 1),
        aspect_ratio: (16, 9),
        vertical_fov: 17,
        aperture: 0.1
    ),
    world: World(
        background_color: Black,
        materials: {
            "ground": Lambertian (
                albedo: Rgb(0.5, 0.5, 0.5),
            ),
            "light": Emissive (
                color: White,
                intensity: 5,
            ),
            "red": Lambertian (
                albedo: Red,
            ),
            "yellow": Lambertian (
                albedo: Yellow,
            ),
            "green": Lambertian (
                albedo: Green,
            ),
            "cyan": Lambertian (
                albedo: Cyan,
            ),
            "blue": Lambertian (
                albedo: Blue,
            ),
            "magenta": Lambertian (
                albedo: Magenta,
            )
        },
        objects: [
            Sphere(
                center: (0.0, -1000.0, 0.0),
                radius: 1000.0,
                material: "ground",
            ),
            Sphere(
                center: (0, 1, 0),
                radius: 0.5,
                material: "light"
            ),
            Sphere(
                center: (2, 1, 0),
                radius: 0.9,
                material: "red"
            ),
            Sphere(
                center: (1, 1, 1.7320508075688772),
                radius: 0.9,
                material: "yellow"
            ),
            Sphere(
                center: (-1, 1, 1.7320508075688772),
                radius: 0.9,
                material: "green"
            ),
            Sphere(
                center: (-2, 1, 0),
                radius: 0.9,
                material: "cyan"
            ),
            Sphere(
                center: (-1, 1, -1.7320508075688772),
                radius: 0.9,
                material: "blue"
            ),
            Sphere(
                center: (1, 1, -1.7320508075688772),
                radius: 0.9,
                material: "magenta"
            )
        ]
    )
)
